script(src='/socket.io/socket.io.js')
script
  // socket.io code
  var socket = io.connect();

  socket.on('announcement', function(msg) {
    $('#chat_messages').append(($('<li>').addClass('announcement')).text(msg));
  });

  socket.on('nicknames', function(nicknames) {
    $('#users_list').empty();
    for (var i in nicknames) {
      $('#users_list').append($('<li>').text(nicknames[i]));
    }
  });

  socket.on('user message', message);

  function message(from, msg) {
    $('#chat_messages').append(($('<li>').addClass('chat_line')).append($('<b>').text(from), msg));
  }

  // dom manipulation
  $(function() {
    $('#set-nickname').submit(function(ev) {
      socket.emit('nickname', $('#nick').val(), function(set) {
        if (!set) {
          clear();
          $('#set-nickname').addClass('hide');
          return $('#chat_form').removeClass('hide');
        }
      });
      return false;
    });

    $('#chat_form').submit(function() {
      message('me', $('#input_chat_message').val());
      socket.emit('user message', $('#input_chat_message').val());
      clear();
      $('#chat_messages').get(0).scrollTop = 10000000;
      return false;
    });

    function clear() {
      $('#input_chat_message').val('').focus();
    }
  });

#wrapper
  #content
    #toolbar
      ul
        li#board_title New Testing Board
        li#tb_download.button
          a(href='#') Download
        li#tb_open.button
          a(href='#') Versions
        li#tb_save.button
          a(href='#') Snapshot
        li#tb_playback.button
          a#board_playback(href='#') Playback
    #codearea
      #editable_content(contenteditable="true", spellcheck="false")
        div
          p#line1
            = snapshot
            &nbsp;
#sidebar
  ul.menu
    li
      h4.section_title Users
        a#add_contact(href='#')
          img(src="/images/add_contact_icon.png", alt="Add Contact")
      ul#users_list
    li#chat_section
      h4.section_title Chat
        a#chat_sound_control(href='#')
          img(src="/images/chat_sound_icon.png", alt="Sound On")
      audio#chat_alert_sound(src="http://www.pacdv.com/sounds/interface_sound_effects/sound99.wav", autobuffer)
      ul#chat_messages
        li.datestamp Feb. 1 2012
      form#set-nickname
        p Please enter your nickname
        input#nick
      form#chat_form.hide
        input#input_chat_message
#extra