!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/initial.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
    script(src='http://code.jquery.com/jquery-1.7.1.js')
  body
    #container
      #header
      #logo
      ul#status

      != body
      
      #footer Xtreme Programming Group, Inc. 2012